* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/snowyBG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

#header {
    display: block;
    /*text-align: center;*/
    font-size: 8rem !important;
}

#listHolder {
    width: 50%;
    margin: auto;
    background-color: darkred;
    border: 5px solid green;
    border-radius: 10px;
}

#songlist {
    list-style-type: none;
    color: snow;
}

/* unvisited link */
a:link {
    color: snow;
}

/* visited link */
a:visited {
    color: grey;
}

/* mouse over link */
a:hover {
    color: green;
}

/* selected link */
a:active {
    color: limegreen;
}

h5 {
    color: snow;
}

#pictureframe {
    height: 325px;
    width: 400px;
    background-color: darkred;
    border: 5px solid green;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

img {
    height: 300px;
    border-radius: 10px;
}